<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Biblioteca de Jogos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-list *ngFor="let jogo of listaJogos;">
    <ion-item (click)="editarJogo(jogo)">
      <ion-label>{{jogo.nome}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="warning" (click)="navegarCadastro()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
