<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Biblioteca de Jogos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input
        label="Nome"
        placeholder="Insira o nome"
        [(ngModel)]="nome"
        disabled="{{edicao}}"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Data de Lançamento"
        placeholder="Insira a data de lançamento"
        [(ngModel)]="dataLancamento"
        type="number"
        disabled="{{edicao}}"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Plataforma"
        placeholder="Insira a plataforma"
        [(ngModel)]="plataforma"
        disabled="{{edicao}}"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Número de Jogadores"
        placeholder="Insira o número de jogadores"
        [(ngModel)]="numJogadores"
        disabled="{{edicao}}"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-select
        label="Gênero"
        placeholder="Selecione"
        [(ngModel)]="genero"
        disabled="{{edicao}}"
      >
        <ion-select-option value="Ação">Ação</ion-select-option>
        <ion-select-option value="Puzzle">Puzzle</ion-select-option>
        <ion-select-option value="Aventura">Aventura</ion-select-option>
        <ion-select-option value="Terror">Terror</ion-select-option>
        <ion-select-option value="Educacional">Educacional</ion-select-option>
        <ion-select-option value="Esporte">Esporte</ion-select-option>
        <ion-select-option value="Corrida">Corrida</ion-select-option>
        <ion-select-option value="Luta">Luta</ion-select-option>
        <ion-select-option value="Tiro">Tiro</ion-select-option>
        <ion-select-option value="RPG">RPG</ion-select-option>
        <ion-select-option value="Arcade">Arcade</ion-select-option>
        <ion-select-option value="Plataforma">Plataforma</ion-select-option>
        <ion-select-option value="Não Definido">Não Definido</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-toggle (ionChange)="habilitarEdicao()">Habilitar Edição</ion-toggle>
    </ion-item>
    <ion-button expand="block" (click)="editar()" disabled="{{edicao}}"
      >Editar</ion-button
    >
    <ion-button
      expand="block"
      (click)="alertDeleteConfirm()"
      disabled="{{edicao}}"
      >Excluir</ion-button
    >
  </ion-list>
</ion-content>
